{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}

<!--Page title-->
<section class="container py-5">
  <div class="row">
    <div class="col">
      <h1 class="text-emphasis">{% trans "Login" %}</h1>
    </div>
  </div>
  
  <!--Login form-->
  <div class="row">
    <div class="col py-2">
      <p class="text-emphasis">{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}">register</a> first.{% endblocktrans %}</p>
      </div>
  </div>
  <div class="row">
    <div class="col">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="col py-2">
          <button class="btn btn-primary" type="submit">{% trans "Login" %}</button>
          <a class="btn btn-outline-primary" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </div>
      </form>  
    </div>
  </div>
</section>

{% endblock %}
