{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>Contacts</title>
{% endblock %}

{% block content %}

  <!--Contacts - add-->
  <section class="container my-5">
    <div class="row">
      <div class="col">
        <h2 class="my-3">
          Contacts
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="my-3">
          Enter in "details" all important information that someone needs in case of an emergency 
          (e.g. phone number, address, possibly email etc.).
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-3">
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="col-12 d-grid gap-2 btn btn-primary">Add</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-grid gap-2">
        <a href="{% url 'profile' %}" class="btn btn-outline-primary" role="button">Back to overview</a>
      </div>  
    </div>
  </section>

  <!--List contacts-->
  <section class="container my-5">
    <div class="row">
      <div class="col-12">
        <h3 class="my-3">
          Entries
        </h3>
      </div>
    </div>
    <div class="row pb-5 mb-5">
      {% for contact_entry in contact_entries %}
      <div class="col-lg-4 col-md-3 col-sm-12 card-group mt-4">
        <div class="card">
          <div class="card-header h5 bg-body-secondary">
            {{ contact_entry.contact_name }}
          </div>
          <div class="card-body">
            <p class="card-text">
              {{ contact_entry.details }}
            </p>
          </div>
          <div class="d-grid gap-2 card-footer bg-transparent border border-0">
            <a href="{% if contact_entry.id %}{% url 'edit_contact' contact_entry.id %}{% endif %}" role="button" class="btn btn-outline-primary">Edit</a>
            <a href="{% url 'delete_contact' contact_entry.id %}" role="button" class="btn btn-outline-primary">Delete</a>
          </div>
        </div>
      </div>
      {% empty %}
        <p class="fw-bold">No contacts available.</p>
      {% endfor %}
    </div>
  </section>

{%endblock%}