{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Edit Medication/Disease</title>
{% endblock %}

{% block content %}

    <!--Edit Medication/Disease-->
    <section class="container my-5">
        <div class="row">
            <div class="col">
                <h2 class="my-3">Edit Medication/Disease Entry</h2>
            </div>
        </div>
        <div class="row">
            <h4>
                Are you sure?
            </h4>
            <div class="col">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                        <div class="col-lg-6 col-sm-12 d-grid gap-2 mt-2">
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#cancelModal">
                                Cancel
                            </button>
                        </div>    
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- Cancel Modal -->
    <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Are you sure you want to cancel the edit?
                </div>
                <div class="modal-footer">
                    <a href="{% url 'medidis' %}" class="btn btn-primary" role="button">Yes, I`m sure.</a>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No, I want to edit my data.</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}