{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Digital patient</title>
{% endblock %}

{% block content %}

  <!--Landing page image and information-->
  <section class="container my-5">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <h1 class="fw-semibold">
        The electronic patient dossier
        </h1>
        <h2 class="my-3 fw-semibold">
        Health information, online available
        </h2>
        <h4 class="my-3 fw-normal">
        In the electronic patient dossier (EPD), you as a (potential) patient can manage your health information 
        and share it with (potential) doctors - if you want.
        </h4>
      </div>
      <div class="col-lg-6 col-sm-12">
        <img class="img-fluid" src="{% static 'media/img/digital-patient-doctor.webp' %}" alt="Digital patient">
      </div>
    </div>
  </section>

  <!--FAQ section-->
  <section class="container my-5 pb-5">
    <div class="my-3">
      <h4>
        FAQ
      </h4>
    </div>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Is the website free?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Yes, the website and its use is not associated with any costs. We never ask for payment or credit cards!
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            What happens with my data?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            The data is stored in a database to create the user account. We never share data with third parties. 
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            How does this website work?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            First, you create a user account. There you can make various entries, e.g. a no-resuscitation declaration, 
            your medications, previous illnesses, doctors and emergency contacts. If you opt for a shared account, 
            you'll receive a public link to keep in your wallet. 
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            How can a doctor see my data?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            If you opt for a shared account, you'll receive a public link to keep in your wallet. 
            In the case of an emergency, a doctor can use this link and read your stored information.
            A doctor will not be able to change, delete or add your data. It`s only a readable version of your data.
          </div>
        </div>
      </div>
    </div>
  </section>

{%endblock%}