{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>Personal data</title>
{% endblock %}

{% block content %}

  <!--Personal section with form-->
  <section class="container mt-5">
    <div class="row">
      <div class="col">
        <h1 class="fw-semibold">Personal data</h1>
        <h2 class="my-3">Personal</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p class="fw-bold">First name:</p> {{ user_profile.first_name|default:"" }}
          </li>
          <li class="list-group-item">
            <p class="fw-bold">Last name:</p> {{ user_profile.last_name|default:"" }}
          </li>
          <li class="list-group-item">
            <p class="fw-bold">Birthday:</p> {{ user_profile.birthday|default:"" }}
          </li>
          <li class="list-group-item">
            <p class="fw-bold">Address:</p> {{ user_profile.address|default:"" }}
          </li>
          <li class="list-group-item">
            <p class="fw-bold">I want to be resuscitated:</p> 
            {% if user_profile.want_resuscitate == True %}
              Yes
            {% elif user_profile.want_resuscitate == False %}
              No
            {% else %}
                {{ user_profile.want_resuscitate|default:"" }}
            {% endif %}
          </li>
          <li class="list-group-item">
            <p class="fw-bold">Share account:</p> 
            {% if public_link %}
            <p>Yes. Print this username and password and keep it in your wallet. Be careful with this; 
              if the share account option is activated, this link is public!
            </p>
            <p>Öffentlicher Link: <a href="https://8000-puma13992-digitalpatien-0kc40w9qan0.ws-eu104.gitpod.io/public_profile/{{ public_link }}/">
              https://8000-puma13992-digitalpatien-0kc40w9qan0.ws-eu104.gitpod.io/public_profile/{{ public_link }}/
              </a>
            </p>
            {% else %}
            <p>No public link available.</p>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
    <div class="row pb-5 mb-5">
      <div class="col-12 d-grid gap-2">
        <a href="{% url 'edit_personal_data' %}" class="btn btn-primary" role="button">Edit</a>
      </div>  
    </div>  
  </section>

{%endblock%}