{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Personal patient dossier</title>
{% endblock %}

{% block content %}

  <!--Welcome-->
  <section class="container mt-5">
    <div class="row">
      <div class="col">
        <h1 class="fw-semibold text-emphasis">
            Welcome to your electronic patient dossier
        </h1>
        <p class="my-3">
            In this digital electronic patient dossier, you can store your personal data
            - including a no-reanimation declaration - as well as your specialist or general practitioner,
            medication intake, previous illnesses and contacts who should be contacted in case of an emergency.
        </p>
      </div>
    </div>
  </section>

  <!--Cards-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 card-group mt-4">
                <div class="card">
                    <div class="card-header h5 bg-body-secondary">
                        Personal data & share account
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            View or change your personal data here.
                            You can also enter your no-reanimation declaration and share your account here.
                        </p>
                    </div>
                    <div class="d-grid gap-2 card-footer bg-transparent border border-0">
                        <a href="{% url 'personal_data' %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 card-group mt-4">
                <div class="card">
                    <div class="card-header h5 bg-body-secondary">
                        Pre-existing diseases and medications
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            View, add, change or delete your pre-existing diseases and medications here.
                        </p>
                    </div>
                    <div class="d-grid gap-2 card-footer bg-transparent border border-0">
                        <a href="{% url 'medidis' %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 card-group mt-4">
                <div class="card">
                    <div class="card-header h5 bg-body-secondary">
                        Doctors
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            View, add, change or delete your doctors here.
                        </p>
                    </div>
                    <div class="d-grid gap-2 card-footer bg-transparent border border-0 align-bottom">
                        <a href="{% url 'doctor' %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 card-group mt-4">
                <div class="card">
                    <div class="card-header h5 bg-body-secondary">
                        Contacts
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            View, add, change or delete your contacts here.
                        </p>
                    </div>  
                    <div class="card-footer d-grid gap-2 bg-transparent border border-0 bottom-0">
                        <a href="{% url 'contact' %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Settings-->
    <div class="container my-5 pb-5">
        <div class="row">
            <h4>
                Settings
            </h4>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 card-group mt-4">
                <div class="card">
                    <div class="card-header h5 bg-body-secondary">
                        Delete account
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            If you want to delete your account, you can do it here.
                        </p>
                    </div>  
                    <div class="card-footer d-grid gap-2 bg-transparent border border-0 bottom-0">
                        <a class="btn btn-primary" href="{% url 'delete_account' %}" role="button">Delete account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{%endblock%}